:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --pink: #E12AFB;
    --green: #1f881f;
}

.item-a {
    grid-area: header;
    background-color: var(--blue);
}

.item-b {
    grid-area: main;
    background-color: var(--pink);
}

.item-c {
    grid-area: sidebar;
    background-color: var(--blue);
}

.item-d {
    grid-area: footer;
    background-color: var(--green);
}

.container {
    display: grid;
    grid-template-areas: 100px 100px 100px 100px;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer";
}
/* 
.box div {
    flex-grow: 4;
    margin: 10px 5px;
    border-radius: 8px;
    padding: 5px;
    background-color: var(--blue);
}

.box div:first-child{
    flex-grow: 12;  
} */